.btn {
  position: relative;
}
.content {
  position: absolute;
  transition: top 0.3s;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.top {
  top: 0px;
}
.btn:hover .top {
  top: -100px;
}
.bottom {
  top: 100px;
}
.btn:hover .bottom {
  top: 0px;
}
.buy-button {
  width: 150px;
  height: 40px;
  text-align: center;
}
.modal, .modal-overlay {
  visibility: hidden;
  opacity: 0;
}
.modal.active, .modal-overlay.active {
  opacity: 1;
  visibility: visible;
}