.btn {
  position: relative;
}
.content {
  position: absolute;
  transition: top 0.3s;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.top {
  top: 0px;
}
.btn:hover .top {
  top: -100px;
}
.bottom {
  top: 100px;
}
.btn:hover .bottom {
  top: 0px;
}
.buy-button {
  width: 150px;
  height: 40px;
  text-align: center;
}
.modal, .modal-overlay {
  visibility: hidden;
  opacity: 0;
}
.modal.active, .modal-overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal-close {
  font-size: 200%;
  right: 15px;
  top: 0;
  position: absolute;
  /*transition: transform 4s;*/
  transition: transform 4s ease-out;
}
.modal-close:hover {
  transform: rotate(1turn);
  transform: rotate(360deg);
}
.form-input + .form-label {
  position: relative;
  padding: 0 1em;
  color: #6A7989;
  /*transition: color 0.3s, transform 0.3s;*/
  transform-origin: center left;
  transition: all 0.3s;
}
.form-input:focus + .form-label {
  color: #333333;
  transform: scale(0.8), translateY(-40px);
}
@keyframes swing {
  0%, 50%, 100% {transform: rotate(0deg);}
  25% {transform: rotate(-10deg);}
  /*50% {transform: rotate(0deg);}*/
  75% {transform: rotate(10deg);}
  /*10% {transform: rotate(-10deg);}
  20% {transform: rotate(0deg);}
  30% {transform: rotate(10deg);}*/
  /*100% {transform: rotate(0deg);}*/
}
#left-arm {
  /*animation: <name> <duration> <delay> <iteration-count> <timing function>*/
  transform-origin: top center;
  /*animation: swing 2s 0s infinite ease;*/
  animation: swing 2s infinite linear;
}
#right-arm {
  /*animation: <name> <duration> <delay> <iteration-count> <timing function>*/
  transform-origin: top center;
  animation: swing 2s infinite 1s linear;
}
@keyframes tap {
  0%, 100% {transform: translateY(0px);}
  50% {transform: translateY(-5px);}
}
#left-leg {
  animation: tap 1s infinite;
}