.btn {
  position: relative;
}
.content {
  position: absolute;
  transition: top 0.3s;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
.top {
  top: 0px;
}
.btn:hover .top {
  top: -100px;
}
.bottom {
  top: 100px;
}
.btn:hover .bottom {
  top: 0px;
}
.buy-button {
  width: 150px;
  height: 40px;
  text-align: center;
}
.modal, .modal-overlay {
  visibility: hidden;
  opacity: 0;
}
/*.modal.active, .modal-overlay.active {
  opacity: 1;
  visibility: visible;
}*/
.modal-overlay.active {
  animation: fadeIn 0.25s forwards;
}
.modal.active {
  animation: slideUp .65s .5s cubic-bezier(0.17, 0.89, 0.32, 1.28) forwards,
             fadeIn .65s .5s forwards;
}
.modal-close {
  font-size: 200%;
  right: 15px;
  top: 0;
  position: absolute;
  /*transition: transform 4s;*/
  transition: transform 4s ease-out;
}
.modal-close:hover {
  transform: rotate(1turn);
  transform: rotate(360deg);
}
.form-input + .form-label {
  position: relative;
  padding: 0 1em;
  color: #6A7989;
  /*transition: color 0.3s, transform 0.3s;*/
  transform-origin: center left;
  transition: all 0.3s;
}
.form-input:focus + .form-label {
  color: #333333;
  transform: scale(0.8), translateY(-40px);
}
@keyframes swing {
  0%, 50%, 100% {transform: rotate(0deg);}
  25% {transform: rotate(-10deg);}
  /*50% {transform: rotate(0deg);}*/
  75% {transform: rotate(10deg);}
  /*10% {transform: rotate(-10deg);}
  20% {transform: rotate(0deg);}
  30% {transform: rotate(10deg);}*/
  /*100% {transform: rotate(0deg);}*/
}
#left-arm {
  /*animation: <name> <duration> <delay> <iteration-count> <timing function>*/
  transform-origin: top center;
  /*animation: swing 2s 0s infinite ease;*/
  animation: swing 2s infinite linear;
}
#right-arm {
  /*animation: <name> <duration> <delay> <iteration-count> <timing function>*/
  transform-origin: top center;
  animation: swing 2s infinite 1s linear;
}
@keyframes tap {
  0%, 100% {transform: translateY(0px);}
  50% {transform: translateY(-5px);}
}
#left-leg {
  animation: tap 1s infinite;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(400px)
  }
  to {
    transform: translateY(-300px);
  }
}
@keyframes slideUpSmall {
  from {transform: translateY(80px);}
  to {tranform: translateY(0);}
}
.modal-header h3 {
  animation: slideUpSmall .25s .75s forwards,
             fadeIn .25s .75s forwards;
}
.modal.active .form-field {
  animation: slideUpSmall .25s .8s forwards,
             fadeIn .25s .8s forwards;
}
@keyframes darken {
  0% {fill: #FCA9B7;}
  100% {fill: #DD3D93;}
}
#icing-fill {
  animation: darken 3s infinite,
             shake 3s infiite ease-out;
}
@keyframes flyoff {
  0% {transform: rotate(0deg);}
  10% {transform: rotate(30deg);}
  20% {transform: rotate(0deg);}
  30% {transform: rotate(-30deg);}
  40% {transform: rotate(0deg);}
  45% {opacity: 1;}
  50% {
    transform: rotate(100deg) scale(3);
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
#sprinkles {
  transition: transform 2s;
  transform-origin: 302px 337px;
  animation: flyoff 3s infinite ease-in;
}
@keyframes shake {
  0% {transform: rotate(0deg);}
  10% {transform: rotate(30deg);}
  20% {transform: rotate(0deg);}
  30% {transform: rotate(-30deg);}
  40% {transform: rotate(0deg);}
  50% {transform: rotate(100deg);}
}