.btn {
  background-color: #00A0D6;
  color: #FFFFFF;
  /*transition: background-color 0.4s, color 0.4s;*/
  /*transition: all 0.4s;*/
  /*transition: all 0.4s ease 0;*/
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.btn:hover {
  background-color: #007DA7;
  color: #E3E3E3E3;
}